<ion-header>
  <ion-navbar color="naranja">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
    <ion-title>
      Let's Party
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Todas las fiestas</h2>
  <button ion-button (click)="showPrompt()" item-end clear>
    Invitación
  </button>
  <ion-list>
    <ion-item *ngFor="let f of fiestas">
      <h2>{{f.nombre}}</h2>
      <p>{{f.fecha | date: 'dd/MM/yyyy H:mm' }}</p>
      <p *ngIf="f.distancia">{{f.distancia}} Km</p>
      <button ion-button (click)="detalle(f)" item-end clear>
        Detalles
      </button>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="naranja"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="light" (click)="mapaCercanas()"><ion-icon name="map"></ion-icon></button>
      <button ion-fab color="naranja" (click)="nuevoEvento()"><ion-icon name="add"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
