<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="naranja">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="isLogged">
      <button ion-item (click)="openHome()">
        Home
      </button>
      <button ion-item (click)="misEventos()">
        Mis Eventos
      </button>
      <button ion-item (click)="nuevoEvento()">
        Nuevo Evento
      </button>
      <button ion-item (click)="logout()">
        Log Out
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
    <ion-list *ngIf="!isLogged">
      <button ion-item (click)="loginF()">
        Login
      </button>
      <button ion-item (click)="register()">
        Register
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
