<ion-header>

  <ion-navbar color="naranja">
    <ion-title>{{fiesta.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>Distancia:
    <p>{{fiesta.distancia}} Km</p>
    <button ion-button (click)="mostrarMapa()" item-end clear>
      <ion-icon name="map"></ion-icon>
    </button>
  </ion-item>
  <ion-item>Bebida:  <button ion-button (click)="mostrarB()" clear><ion-icon name="arrow-down"></ion-icon></button>
    <ion-list *ngIf="mostrarBeb">
      <ion-item *ngFor="let beb of fiesta.bebidas">
        <h2>{{beb.marca}}</h2>
        <p>{{beb.cantidad}}</p>
      </ion-item>
    </ion-list>
  </ion-item>
  <ion-item>Comida:  <button ion-button (click)="mostrarC()" clear><ion-icon name="arrow-down"></ion-icon></button>
    <ion-list *ngIf="mostrarCom">
      <ion-item *ngFor="let com of fiesta.comidas">
        <h3>{{com.plato}}</h3>
        <p>{{com.cantidad}}</p>
      </ion-item>
    </ion-list>
  </ion-item>
</ion-content>
